.memo-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.memo-heading {
    text-align: center;
    margin-bottom: 20px;
}

.memo-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.memo-table-header {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #007bff;
}

.memo-table-data {
    padding: 10px;
    border: 1px solid #dee2e6;
}

.memo-table-data:first-child {
    width: 100px;
}

.memo-table-data:nth-child(2) {
    width: 200px;
}

.memo-table-data:nth-child(3) {
    width: 400px;
}

.memo-table-data:nth-child(4),
.memo-table-data:nth-child(5) {
    width: 300px;
}

@media screen and (max-width: 768px) {

    .memo-table-data:first-child,
    .memo-table-data:nth-child(2),
    .memo-table-data:nth-child(3) {
        display: none;
    }
}